header img {
  width: 40px;
}

header {
  display: flex;
  border: 2px solid #f0f0f0f0;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.logo-name {
  display: flex;
  align-items: center;
}

.logo-name > span {
  margin: 0px 10px;
}

footer {
  padding: 20px;
  color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.link {
  padding: 5px;
}

nav a {
  margin: 0px 10px;
}

main {
  height: 80vh;
}

.active {
  background-color: navy;
  color: #fff;
  padding: 5px;
}

button {
  padding: 5px;
  background-color: navajowhite;
  color: navy;
  border-radius: 5px;
  border: 2px solid #fb8686;
  cursor: pointer;
}

.components {
  border: 2px solid #fff;
  background-color: #fff;
  color: #000;
  margin: 30px 0px;
  padding: 20px;
  text-align: center;
  box-shadow: -18px 10px 20px 0px #f5f5f5;
}
