* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.App h1 {
  text-align: center;
  margin-top: 30px;
}

.App ul {
  padding: 40px;
  list-style: none;
}

ul li {
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.delete {
  background-color: crimson;
  padding: 6px 4px;
  color: #fff;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.delete:hover {
  color: #000;
  background-color: transparent;
}

.btn-show {
  background-color: yellowgreen;
  padding: 6px 4px;
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease-in;
  letter-spacing: 1px;
  border: none;
  margin-top: 30px;
}

.completed {
  background-color: rgb(50, 205, 99);
}

.incompleted {
  background-color: aqua;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 5px solid #f0f0f0f0;
  max-width: 1000px;
  margin: 0 auto;
}

header img {
  width: 50px;
}

header a {
  text-decoration: none;
  color: inherit;
}
