@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  padding: 5px;
  border-radius: 7px;
  background-color: navy;
  color: #fff;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}
