body {
  background-color: #fff;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  font-size: 2rem;
  padding: 10px;
  width: 150px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: scale 0.3s ease-in-out;
  flex-direction: column;
  text-align: center;
}

.operations {
  display: flex;
  justify-content: space-around;
}

.operations button {
  padding: 5px;
  border: none;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: scale 0.4s ease-in-out;
  letter-spacing: 1.5px;
}

.operations button:hover {
  scale: 1.01;
}

.operations .add,
.operations .sub {
  background-color: crimson;
}

.operations .sub {
  background-color: yellowgreen;
}

.operations .reset {
  background-color: gray;
}

.operations .sub-2 {
  border-radius: 2px;
  color: #000;
  margin-top: 8px;
  background-color: yellow;
  margin-bottom: 10px;
}
